.main .wrap {
    max-width: 1176px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.main .wrap div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.main .wrap div img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -100px;
}

.main .wrap div h3 {
    text-align: center;
    margin-bottom: 62px;
}

.main .wrap div button {
    margin: auto;
    width: 165px;
    height: 44px;
    margin-bottom: 20px;
}

.main p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}